<ion-header>
  <ion-toolbar color="primary">
      <ion-title>Contact Details</ion-title>
      <!-- Menu Icon -->
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
  <!-- Back icon -->
      <ion-buttons slot="end">
          <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

<ion-card style="box-shadow: none;">

  
    
  </ion-card>
  <!-- some written contents -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Contact Details</ion-card-title>
      
    </ion-card-header>
  
    <ion-card-content>
    <p>Waste vechile driver contact details is mentioned below.Each village have different contact detaild of apprapriate vechile contact information.</p>
    <ion-list>
      <ion-item>
          <ion-card-title>Contact Details</ion-card-title>
      </ion-item>
      <ion-item>
          <ion-label>praven/kundapura-9898989898</ion-label>
      </ion-item>
      <ion-item>
          <ion-label>Alien/Udupi-8989898989</ion-label>
      </ion-item>
     
    
    </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
  
