<ion-header>
  <ion-toolbar color="primary">
      <ion-title>Sanitary Waste collected Details</ion-title>
      <!-- Menu Icon -->
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
  <!-- Back icon -->
      <ion-buttons slot="end">
          <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

<ion-card style="box-shadow: none;">

  
    <ion-card-content>
      <ion-img src="/assets/images/sanitary.jpg"></ion-img>
    </ion-card-content>
  </ion-card>
  <!-- some written contents -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Waste collected Details</ion-card-title>
      
    </ion-card-header>
  
    <ion-card-content>
    <p>Sanitary waste includes used sanitary napkins, diapers,incontinence sheets and other similar waste.</p>
    <ion-list>
      <ion-item>
          <ion-card-title>Collection Details</ion-card-title>
      </ion-item>
      <ion-item>
          <ion-label>collected</ion-label>
      </ion-item>
      <ion-item>
          <ion-label>Management Vechile</ion-label>
      </ion-item>
      <ion-item>
          <ion-label>Paid</ion-label>
      </ion-item>
      
    </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
  
